#modal {
  display: none;
}

#modal.active {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  /* background-color: rgba(var(--color-black), 1); */
  background-color: rgba(0, 0, 0, 0.5);
  /* font-family: var(--font-base); */
  font-family: 'Inter';

}

#modal > .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: inherit;
  padding: 0.3rem;
  margin-top: 3rem;
}

.modal {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  /* background-color: rgba(var(--color-black), 1); */
  background-color: rgba(0, 0, 0, 0.5);
  /* font-family: var(--font-base); */
  font-family: 'Inter';
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: inherit;
  padding: 0.3rem;
  margin-top: 3rem;
}

.modal__inner {
  width: 100%;
  background-color: rgba(var(--color-white), 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1rem;
  position: relative;
}
@media screen and (min-width: 520px) {
  .modal__inner {
    width: 30rem;
  }
}


.modal__title {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.modal__title > h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(var(--color-grey1), 1);
}


.modal__title > .modal__button--close {
  background: none;
  border: none;
  font-style: var(--font-heading);
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(var(--color-grey3), 1);
  cursor: pointer;
}

.modal__form {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__form > label {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(var(--color-grey2), 1);
  margin-bottom: 0.5rem;
}

.modal__form > input {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(var(--color-grey2), 1);
  padding: 0.5rem 0.8rem;
  margin-bottom: 1.4rem;
  background: rgba(var(--color-grey5), 1);
  border: none;
  border-radius: 0.25rem;
}

.modal__form > input:focus {
  outline: 0.125rem solid rgba(var(--color-brand1), 1);
}

.modal__form > textarea {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(var(--color-grey2), 1);
  padding: 0.5rem 0.8rem;
  margin-bottom: 1.4rem;
  background: rgba(var(--color-grey5), 1);
  border: none;
  border-radius: 0.25rem;
  resize: none;
}

.modal__form > textarea:focus {
  outline: 0.125rem solid rgba(var(--color-brand1), 1);
}

.modal__form > select {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(var(--color-grey2), 1);
  padding: 0.5rem 0.8rem;
  margin-bottom: 1.4rem;
  background: rgba(var(--color-grey5), 1);
  border: none;
  border-radius: 0.25rem;
  resize: none;
}

.modal__form > select:focus {
  outline: 0.125rem solid rgba(var(--color-brand1), 1);
}

.modal__form > option {
  padding: 0.5rem 0;
}

.modal__form > .modal__button--insert {
  background-color: rgba(var(--color-brand1), 1);
  color: rgba(var(--color-white), 1);
  padding: 0.3rem;
  border-radius: 0.25rem;

}

.modal__form > .modal__button--save {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  color: rgba(var(--color-white), 1);
  background-color: rgba(var(--color-brand1), 1);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.modal__buttons {
  width: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem;
  margin-top: 2.5rem;
}

.modal__buttons > .modal__button{
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.modal__buttons > .modal__button--delete,
.modal__buttons > .modal__button--cancel {
  padding: 0.5rem 5rem;
}

.modal__buttons > .modal__button--save {
  padding: 0.5rem 4rem;
  background-color: rgba(var(--color-primaryDisable), 1);
  color: rgba(var(--color-white), 1);
}

.modal__buttons > .modal__button--red {
  padding: 0.5rem 2rem;
  background-color: rgba(var(--color-error1), 1);
  color: rgba(var(--color-white), 1);
}

.modal__status {
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal__status > label {
  font-size: 1rem;
  font-weight: 500;
}

.modal__status > input {
  cursor: pointer;
}

.modal__texts {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}

.modal__texts > .modal__confirmationText {
  font-size: 1.25rem;
  font-weight: 600;
}

.modal__texts > .modal__warningText {
  font-size: 1rem;
  font-weight: 400;
}
