<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/homePage.css">
    <title>Kenzie Habit</title>
</head>
<body>


    <header>

        <section class="topUser">
            <p class="KenzieHabit">KenzieHabit</p>
            <img src="../assets/img/useExemplo.jpg" alt="usuario">
        </section>

        <section class="userName">
             
                <img src="../assets/img/useExemplo.jpg" alt="usuario">
                <strong>Júlia Silva Camargo</strong>
            
        </section>
    </header>
    
    <main>
        <section class="containerNavegation">
            <div class="tasks">
                <strong>Tarefas</strong>
                
            </div>
            <nav class="navigation">
                <button class="navigationTodos">
                    Todos
                </button>

                <button class="navigationConcluidos">
                    Concluidos
                </button>

                <button class="navigationButton--criar">Criar</button>
            </nav>
        </section>

        <section class="containerAffairs">
            <table class="tableAffairs" >
               
                <tr class="tableAffairs__tr">
                    
                    <th>Status</th>

                    <th class="tableAffairs--title">Titulo

                    </th>
                    <th class="tableAffairs--description">
                        Descrição

                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Editar
                    </th>
                </tr>

                <tr class="tableAffairs__tr--data">
                    <td class="tableAffairs__button--checkin">
                        <button>
                            <!-- <img src="../assets/img/check.jpg" alt=""> -->
                            &radic;
                        </button>
                    </td>
                        <td>
                            sendo assim
                        </td>
                        <td>
                            sendo assim
                        </td>
                        <td>
                             sendo assim
                        </td>
                        <td class="tableAffairs__edit">
                            <button class="tableAffairs__edit--button">...</button>
                        </td>
                     
                </tr>

                <tr class="tableAffairs__tr--data">
                 <!-- <td   class="tableAffairs__button--checkin">  -->
                    <td>
                        <button class="ex">&nbsp;</button>
                    </td>
                        <td>
                            sendo assim
                        </td>
                        <td>
                            sendo assim
                        </td>
                        <td>
                             sendo assim
                        </td>
                        <td class="tableAffairs__edit">
                            <button class="tableAffairs__edit--button">...</button>
                        </td>
                     
                </tr>
            </table>
        </section>


    </main>
    
</body>
</html>